.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #181818;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;  /* Prevent scrolling */
}
.title {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.student-form {
    background-color: #333;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
}

.form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

label {
    color: #fff;
    margin-bottom: 0.5rem;
}

.input-field {
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
    background-color: #444;
    color: #fff;
    width: 100%;
}

.submit-btn {
    background-color: #e50914;
    color: #fff;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.submit-btn:hover {
    background-color: #b00610;
}
